<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- The port to listen for messages on -->
    <add key="ListeningPort" value="25" />
    <!-- Whether to save messages to a file -->
    <add key="SaveMessages" value="true"/>
    <!-- Where to save messages if enabled -->
    <add key="LoggingDirectory" value="c:\Temp\SmtpService\" />
    <!-- Message Limit -->
    <add key="MessageLimit" value="100"/>
  </appSettings>
</configuration>